@import './reset';
@import 'variables/global';
@import 'themes/light';
@import 'themes/dark';


.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: linear-gradient(to bottom, var(--main-gradDark), var(--main-gradLight));;
  color: var(--main-text-color);
  height: 100vh;
}
.page-wrapper {
  display: flex;
  width: 100%;
}
.content-wrap {
  flex-grow: 1;
  padding: 12px;
}