.sidebar {
  width: 300px;
  height: calc(100vh - 60px);
  background-color: var(--navbar-bg-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  z-index: 100;
  transition: width 0.3s ease-in-out;
}
.collapsed {
  width: 80px;
}
.sidebar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 4rem;
  border-bottom: 1px solid #eee;
  .sidebar__close {
    font-size: 1.5rem;
    cursor: pointer;
  }
}
.sidebar__content {
  padding: 1rem;
  .sidebar__item {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid #eee;
    .sidebar__icon {
      font-size: 1.5rem;
      margin-right: 0.5rem;
    }
    .sidebar__text {
      font-size: 1.2rem;
    }
  }
}